body {
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/learn-css-selectors-visual-rules/hypnotize_bg.png");
}

body h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #008000;
}

h2 pre {
    font-size: 35px;
    font-weight: 700;
    font-family: "Martel";
    margin-bottom: 0;
}

form {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-size: 26px;
    color: #3f9ea0;
}

.input label {
    font-weight: 700;
    font-family: "Mukta";
}

.input input {
    display: block;
    width: 60%;
    font-size: 18px;
}

button {
    display: block;
    width: 61.1%;
    font-size: 20px;
    margin-left: auto;
    margin-right: 0;
    margin-top: 25px;
    padding: 5px;
    background-color: #3a9efc;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}



#output-div {
    display: block;
    width: 50%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

#output-div p {
    font-size: 18px;
    text-align: justify;
    font-weight: 500;
    font-family: "Comfortaa";
}

#output-div p .left {
    display: inline-block;
    width: 51%;
    text-align: left;
} 

#output-div p .right {
    display: inline-block;
    width: 48.2%;
    text-align: right;
}